.Button {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline-grid;
  grid-auto-flow: column;
  align-items: center;
  gap: 6.5px;
  background: unset;
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: 19px;
  cursor: pointer;

  .Button__text {
    color: #FFFFFF;
    transition: color .3s ease;
  }

  path {
    transition: fill .3s ease;
  }

  &:hover {

    .Button__text {
      color: #E96880;
    }

    path {
      fill: #E96880;
    }

  }

}