.App {
  display: grid;
  min-width: 320px;
  height: 100vh;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 80px 1fr;
  grid-template-areas:
      "hd hd"
      "sd main";

  .App__header {
    grid-area: hd;
  }

  .App__sidebar {
    grid-area: sd;
  }

  .App__main {
    grid-area: main;
    height: calc(100vh - 80px);
    overflow-y: scroll;
  }
}



